<header>
    <h1>Pokemon</h1>
    <nav>
        <ol>
            <li>
                <a href="/pokemon">See all pokemon</a>
            </li>
            <li>
                <a href="/pokemon/new">Create a new pokemon</a>
            </li>
        </ol>
    </nav>
</header>