body {
    margin:0;
    background-color: lightcyan;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: rgb(249, 197, 197);
}
nav, nav > ol {
    display: flex;
    align-items: center;
}
header > nav > ol {
    list-style: none;
}

header li {
    margin-right: 1.7rem;
}

header a {
    text-decoration: none;
    color:inherit;
}
#index {
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
}
.heading {
    margin-left: 1.7rem;
}
table {
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    
}
.stats {
    font-weight: bold;
    font-size: 17px;
    display: inline;
}
