*{
    font-family: 'Pokemon Solid', sans-serif;
                                                
}


body {
    margin:0;
    background-color: lightcyan;
    
}
html{
    scroll-behavior: smooth;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background: linear-gradient(to right,lightcyan, rgb(249, 197, 197));
    background-color: rgb(249, 197, 197);
}
nav, nav > ol {
    display: flex;
    align-items: center;
}
header > nav > ol {
    list-style: none;
}

header li {
    margin-right: 1.7rem;
}

header a {
    text-decoration: none;
    color:inherit;
}
#index {
    display: flex;
    justify-content: center;
}
.myBtn {
    position:fixed;
    bottom: 32px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightcyan;
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
      
}
.myBtn:hover {
    background-color: coral
}
ul {
    list-style-type: none;
}
.heading {
    margin-left: 1.7rem;
}
table {
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    
}
.stats {
    font-weight: bold;
    font-size: 17px;
    display: inline;
}
.gallery {
    
    border-style: solid;
    border-color: whitesmoke;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(to right, rgb(249, 197, 197), lightcyan);
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}
img {
    width: 400px;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete {
    display: flex;
    justify-content: right;
    align-items: center;
}
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newform {
    display: flex;
   justify-content: center;
}
.newbutton {
display: flex;
align-items: center;
justify-content: center;
}
.editpage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.editform {
    display: flex;
    align-items: center;
    justify-content: center;
}
.editimage {
    margin-left: 250px;
}
.updatebutton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.showpagepic {
    display: flex;
    align-items: center;
    justify-content: center;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
}
